.app-title {
    background-color: blue;
    color:aliceblue;
    text-align: center;
    margin-bottom: 2px;
}

.current {
    font-weight: bolder;
    border: 2px;
    border-color: black;
    border-style: double;
}

.aside  {
    border: 2px;
    border-color: black;
    border-style: double;

}

.FiveDay {
    border: 2px;
    border-color: black;
    border-style: 
}